.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #2d3748;
}

.card-box {
  height: 19rem;
  width: 14rem;
  color: white;
}

.card-box2 {
  position: relative;
  bottom: 4rem;
  z-index: 999;
  height: 20rem;
  width: 19rem;
  border-radius: 5px;
  background-color: rgb(113, 73, 119);
  box-shadow: 1px 5px 10px -1px rgb(141, 147, 231);
}

.create-by {
  width: 30rem;
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: #9ca3af;
}
.footer-logo {
  width: 7rem;
  height: 9rem;
}

.card-box2:hover {
  background-color: #539cc7;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 8px 15px 1px rgb(255, 255, 255);
}

.card-box li {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(179, 174, 174);
}
.card-box li:hover {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: rgb(221, 218, 18);
  text-align: left;
}
.card-box h2 {
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
.card-box i {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-icons i {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
.social-icons i:hover {
  color: rgb(245, 57, 10);
}
.card-box2 h2 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  color: #ededed;
}

.info i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: rgb(255, 255, 255);
}
.info a:hover {
  font-size: 1rem;
  margin-right: 1rem;
  color: rgb(255, 0, 98);
}
.workinghours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  color: #ededed;
  width: 12rem;
  height: 8rem;
  margin-left: 5rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

/*@media ----------------------------- */
@media screen and (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .card-box2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
  }
  .card-box {
    width: 9rem;
  }
  .card-box i {
    color: rgb(235, 203, 27);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .card-box h2 {
    font-weight: 500;
    color: rgb(235, 203, 27);
    font-size: 0.7rem;
  }
  .card-box hr {
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
  }

  .card-box2 {
    display: none;
  }
  .create-by {
    font-size: 60%;
  }
}
@media screen and (max-width: 500px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
  }
  .card-box {
    width: 7rem;
  }
  .card-box i {
    color: rgb(235, 203, 27);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .card-box h2 {
    font-weight: 500;
    color: rgb(235, 203, 27);
    font-size: 0.6rem;
  }
  .card-box li {
    font-size: 0.6rem;
  }
  .card-box hr {
    border: 1px solid rgb(255, 255, 255);
    width: 90%;
  }

  .card-box2 {
    display: none;
  }
  .create-by {
    font-size: 50%;
  }
  .footer-logo {
    width: 5rem;
    height: 7rem;
  }
}
